html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #CFD8DC;
}

h1 {
  font-family: 'Mirza', cursive;
  color: #2B2B2B;
}

h2, h3, p {
  font-family: 'Lato', sans-serif;
}

.connected, .not-connected, .joined-game {
  width: 60%;
  height: 80%;
  padding: 2em;
  margin: 2em auto;
  background-color: #F5F5F5;
  text-align: center;
  transition: 0.3s;
  box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

button {
  padding: 1em 2em;
  border: none;
  background-color: #29B6F6;
  color: white;
  font-family: 'Lato', sans-serif;
  transition: 0.3s;
}

button:hover {
  background-color: #03A9F4;
  transition: 0.3s;
}
